<!DOCTYPE html>
<html>
<head>
	<title>{{ methodName }}</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/methodPage.js"></script>

    <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
               
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script> 

</head>
<body>

<div class="wrapper">
    <h1>OpenCV GUI</h1>
    <div class="list-group list-group-mine">
        <a class="list-group-item" href="/gray"><strong>Grayscale</strong></a>
        <a class="list-group-item" href="/median"><strong>Median</strong></a>
        <a class="list-group-item" href="/average"><strong>Average</strong></a>
        <a class="list-group-item" href="/gauss"><strong>Gaussian Blur</strong></a>
        <a class="list-group-item" href="/bilateral"><strong>Bilateral filter</strong></a>
        <a class="list-group-item" href="/thresh/global"><strong>Global threshold</strong></a>
        <a class="list-group-item" href="/thresh/mean"><strong>Mean threshold</strong></a>
        <a class="list-group-item" href="/thresh/gauss"><strong>Gaussian threshold</strong></a>
        <a class="list-group-item" href="/sobel"><strong>Sobel</strong></a>
        <a class="list-group-item" href="/laplacian"><strong>Laplacian</strong></a>
        <a class="list-group-item" href="/frontal"><strong>Frontal face detection</strong></a>
        <a class="list-group-item" href="/rotation/naive"><strong>Naive rotation</strong></a>
        <a class="list-group-item" href="/rotation"><strong>Rotation</strong></a>
    </div>


</div>

<footer>Rafał Behrendt, Marceli Sokólski @ 2021</footer>


</body>