body {
    margin: 0;
    background-color: #222222 !important;
}

.box {

    text-align: center;
}

.image {
    width: 300px;
    height: 300px;
    float: left;
    border: 2px solid black;
}

.imageBoxesHolder {

    display: inline-block;
}

.convertButtonHolder {
    height: 300px;
    padding: 130px 0;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.floatClear {
    clear: both;
}

.optionsHolder {
    margin: 20px;
    color: aliceblue;
}

footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: grey;
    text-align: center;
}

footer a:link {
    text-decoration: none;
    color: aliceblue !important;
}

