<!DOCTYPE html>
<html>
<head>
	<title>Image send and paste</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/index.css"> -->
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</head>
<body>

<div class="box">

	<input id="imageinput" type="file" name="image" onchange="readUrl(this)">
	<div style="float: right;">
		<button class="btn" onclick="onClickMethod('/gray', [])">Grayscale</button><br>
		<input id="grayscale-blur" type="number">
		<button class="btn" onclick="onClickMethod('/median', ['grayscale-blur'])">Median Blur</button><br>
		<input id="avg-blur-x" type="number"><input id="avg-blur-y" type="number">
		<button class="btn" onclick="onClickMethod('/average', ['avg-blur-x', 'avg-blur-y'])">Average blur</button><br>
	</div>

	<hr>
	<img id="imagebox" src="">
	
</div>

</body>
</html>